* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #363e52;
}

.container {
    max-width: 715px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

button {
    background-color: transparent;
    border: none;
}

.main__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main__btn {
    height: 34px;
    cursor: pointer;
}

.main__btn p {
    background-color: #ebedf3;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
}

.main__inp,
.main__keyboard {
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

.keyboard__row {
    display: flex;
}

.word,
.word__squares,
.keyboard__btns {
    display: flex;
    width: 100%;
    place-content: center;
}

.word__square {
    width: 56px;
    height: 56px;
    border-radius: 5px;
    border: 2px solid #dee1e9;
    margin: 3px;
    font-size: 30px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.keyboard {
    margin: 10px auto 0;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.keyboard__key {
    display: grid;
    grid-template-columns: minmax(51px, 61px);
    place-items: center;
    height: 46px;
    background-color: #dce1ed;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
}

.keyboard__btn {
    width: 93px;
    height: 46px;
    background-color: #dce1ed;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;

    >img {
        width: 35px;
        margin: auto;
    }
}

.mistake,
.result {
    position: absolute;
    width: 280px;
    height: 100px;
    border-radius: 15px;
    background-color: #ffffff;
    filter: drop-shadow(0 0 30px #363e52cc);
    text-align: center;
}

.result p {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.mistake p {
    margin-top: 40px;
    font-weight: 600;
    font-size: 18px;
}

.rules {
    width: 400px;
    position: absolute;
    border-radius: 15px;
    background-color: #ffffff;
    filter: drop-shadow(0 0 30px #363e52cc);
    text-align: center;
    padding: 15px;
}

.close {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #dce1ed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-left: 345px;
    cursor: pointer;
}

.main__languages {
    display: flex;
}

.rules__list {
    padding: 15px;
}

ol li::marker {
    font-weight: 600;
}

.rules__item {
    text-align: left;
    margin-top: 10px;
}

.language__btn {
    margin-right: 5px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.language__btn-checked {
    background-color: #dce1ed;
}

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        max-width: 480px;
        padding: 0 8px;
    }

    .word__square {
        max-width: 52px;
        max-height: 52px;
    }

    .keyboard__key {
        grid-template-columns: minmax(20px, 30px);
        height: 46px;
        font-size: 18px;
        margin: 2px;
    }

    .keyboard__btn {
        width: 30px;
        height: 46px;
    }

    .rules {
        width: 90%;
        padding: 10px;
    }

    .close {
        margin-left: 275px;
    }
}