* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #363e52;
}

.container {
    width: 630px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
}

button {
    background-color: transparent;
    border: none;
}

.main__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 34px;
    cursor: pointer;
}

.main__btn p {
    background-color: #ebedf3;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
}

.main {
    margin-top: 10px;
}

.main__inp,
.main__keyboard {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.keyboard__row {
    display: flex;
}

.word,
.word__squares,
.keyboard__btns {
    display: flex;
}

.word__square {
    width: 56px;
    height: 56px;
    border-radius: 5px;
    border: 2px solid #dee1e9;
    margin: 3px;
    font-size: 30px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.keyboard {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.keyboard__key {
    display: grid;
    grid-template-columns: minmax(51px, 61px);
    place-items: center;
    height: 46px;
    background-color: #dce1ed;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
}

.keyboard__btn {
    width: 93px;
    height: 46px;
    background-color: #dce1ed;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
}

.mistake,
.result {
    position: absolute;
    width: 280px;
    height: 100px;
    border-radius: 15px;
    background-color: #ffffff;
    filter: drop-shadow(0 0 30px #363e52cc);
    text-align: center;
}

.result p {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.mistake p {
    margin-top: 40px;
    font-weight: 600;
    font-size: 18px;
}